.next {
  fill: none;
  stroke: #000000;
  strokeLinecap: round;
  strokeLinejoin: round;
  strokewidth: 9.728;
}
.pre {
  fill: none;
  stroke: #000000;
  strokeLinecap: round;
  strokeLinejoin: round;
  strokewidth: 9.728;
}
