.main{
    padding: 15px;
}

.st0{
    fill: #283B5F;;
}

.st1{
    fill: #FFCCC5;
    stroke: #EEB3AB;
    strokeWidth: 0.5458;
    stroke-miterlimit: 4;
}

.st2{ fill:#FFF0B8;
stroke:#E0D19B;
strokeWidth:0.5458;
stroke-miterlimit:4;}




 
.st3 {fill:#C2E9FF;
 stroke:#A7D1EA;
 strokeWidth:0.5458;
 stroke-miterlimit:4;}
 .st4 {fillRule:evenodd;
 clip-rule:evenodd;
 fill:#A183F9;}
 .st5 {fillRule:evenodd;
 clip-rule:evenodd;
 fill:#F084B8;}
 .st6 {fillRule:evenodd;
 clip-rule:evenodd;
 fill:#6CDC92;}
 .st7 {fillRule:evenodd;
 clip-rule:evenodd;
 fill:#35198E;}
