.heading {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: rgb(192, 0, 105);
    font-size: xx-large;
    fontWeight: bolder;
}

.message {
    display: flex;
    justify-content: center;
    color: brown;
}