.main {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    padding: 20px;
}

.btn {
    background: none;
    border: none;
}
