.main {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* padding: 20px; */
    /* margin: 10px; */
    padding-left: 30px;
    margin-top: 20px;
    /* border: 1rem solid black; */
}


.main a {
    text-decoration: none;
    color: rgb(50, 0, 165);
    padding-left: 10px;
}