.main{
    border-right: 0.1px solid rgba(15, 16, 16, 0.369);
    float: left;
    background-color: antiquewhite;
    /* overflow-y: hidden; */
    height: 100vh;
    color: rgb(255, 255, 255);

}

.box{
    /* display: flex; */
    color: blue;
    align-items: center;
    margin-left: 30px;
}
.title{
    margin-left: 40px;
    letterSpacing: 3px;
}

.link{
    margin-top: 60px;
}

@media screen and (max-width: 2560px){
    .main {
        width: 15%;
        height: 100vh;
        overflow: auto;
    }

}

@media screen and (min-width: 1600px) {
    .main {
        width: 13%;
    }

}

/* .main a{
    text-decoration: none;
    color: white;
    margin: 20px;
} */
