.main{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* Center items horizontally */
    align-items: center;
    color: black;
}

.userProfile {
    text-align: center;
    margin-top: 30px;
}

.userProfile img {
    height: 150px;
    width: 150px;
    border-radius: 50%;

}

.userProfile h3 {
    margin-bottom: -10px;
    
}

.img {
    width: 250px;
    background-color: rgb(6, 0, 69);
    position: relative;
}