.main{
    color:rgb(97, 94, 94)
}

/* CSS Module */
.btn {
    /* Add your styles for the regular button */
    background-color: #007bff;
    /* Example color */
    color: #fff;
    /* Example color */
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btnClose {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn :hover {
    background: red;
    border: none;
}