.container {
    min-height: 100vh;
}

.pagination {
    margin-bottom: 10px;
}


.table {
    /* overflow: hidden; */
    border-collapse: collapse;
}
@media screen and (max-width: 2560px) {
    .table {
        width: 99%;
        /* background-color: rgb(223, 14, 14); */
    }

}

@media screen and (min-width: 1600px) {
    .table {
        width: 100%;
        /* background-color: black; */
        /* Stack elements vertically on smaller screens */
    }

}




.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

.heading {
    /* text-align: center; */
    margin-left: 60px;
    color: rgb(178, 40, 40);
}

.section {
    display: flex;
    justify-content: space-between;
}
.section button{
    border: 1px solid red;
    margin-right: 30px;
    margin-top: 20px;
    color: red;
    height: 30px;
    border-radius: 50px 50px 50px 50px;
}